vxview/.gradle
vxview/local.properties
vxview/.idea/workspace.xml
vxview/.idea/libraries
.DS_Store
vxview/build
vxview/app/build
vxview/app/src/main/libs
vxview/app/src/main/obj
.gradle/
vxview/app/src/main/invx/
vxview/app/src/main/res/raw/
